version: '3.8'

services:
  app:
    image: ${DOCKER_USERNAME}/team:latest
    container_name: team
    ports:
      - "8090:8090"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:oracle:thin:@oracle:1521/XEPDB1
      - SPRING_DATASOURCE_USERNAME=springboot # 아래 오라클 유저 계정
      - SPRING_DATASOURCE_PASSWORD=java1234
    depends_on:
      oracle:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - team-network

  oracle:
    image: gvenzl/oracle-xe:latest
    container_name: oracle
    ports:
      - "1521:1521"
    shm_size: '1g'
	healthcheck: # <-- (필수) 이 healthcheck 블록을 추가합니다.
      test: ["CMD", "healthcheck.sh"]
      interval: 10s # 10초마다 헬스체크
      timeout: 5s   # 5초 내 응답
      retries: 30 # 30번 재시도 (최대 5분간 기다림)
    environment:
      - ORACLE_PASSWORD=java1234 # 관리자(SYS, SYSTEM) 계정
      - APP_USER=springboot # 유저 계정
      - APP_USER_PASSWORD=java1234
    volumes:
      - oracle-data:/opt/oracle/oradata
      - ./script:/container-entrypoint-initdb.d
    restart: unless-stopped
    networks:
      - team-network

networks:
  team-network:
    driver: bridge

volumes:
  oracle-data: